<div class="all_container">
<div class="">
<h2>About the project</h2>
<p>Welcome to the website of the research project “Medieval Libraries of the Canons Regular of St Augustine in Bohemia in the Context of Central Europe”, funded by the Czech Science Foundation and carried out at the Faculty of Humanities, Charles University. This project explores preserved books from the libraries of the Canons Regular of St Augustine, which played a key role in the medieval book culture of the Czech lands. Through an interdisciplinary approach based mainly on historical and codicological analysis, it aims to provide a comprehensive understanding of these libraries, including their role in the dissemination of knowledge and their cultural influence throughout Central Europe.</p>
<p>On this webpage, you will find a detailed overview of the libraries of the Canons Regular of St Augustine in Bohemia, as well as selected libraries of the order in Central Europe, including Vienna (Austria), Neunkirchen am Brand (Germany), and Żagań (Poland). For each library, we have prepared a catalogue of its medieval books, including manuscripts (written before the end of the 15th century) and incunabula. These catalogues provide information on provenance, dating, writing material, number of folios, dimensions, presence of illuminations, binding details, description of the texts written in these books, and, where available, links to digital reproductions.</p>

<p style="font-weight:bold">Please note that this website is currently under development and is not yet complete. However, we are working diligently to finalize it, and information will be added gradually. Thank you for your patience and understanding. If you have any questions or comments, please use the following email address: <a href="mailto:adela.ebersonova@fhs.cuni.cz">adela.ebersonova@fhs.cuni.cz</a>.</p>

<div>

<h3>Medieval Libraries of the Canons Regular of St Augustine in Bohemia</h3>
<ul>
<li>Borovany – manuscripts + incunabula</li>
<li>Jaroměř – manuscripts</li>
<li>Prague-Karlov – manuscripts + incunabula</li>
<li>Rokycany – manuscripts + incunabula</li>
<li>Roudnice – manuscripts</li>
<li>Sadská – manuscripts</li>
<li>Třeboň – manuscripts + incunabula</li>
</ul>

<h3>Medieval Libraries of the Canons Regular of St Augustine in Austria</h3>
<ul>
	<li>Vienna – manuscripts + incunabula</li>
</ul>

<h3>Medieval Libraries of the Canons Regular of St Augustine in Germany</h3>
	<ul>
	<li>Neunkirchen am Brand – manuscripts + incunabula</li>
	</ul>


<h3>Medieval Libraries of the Canons Regular of St Augustine in Poland</h3>
<ul>
<li>Żagań – manuscripts + incunabula</li>
</ul>
</div>
</div>
