<div>

<h2>Research team</h2>
<div class="person_box">
<p><strong>Mgr. Adéla Ebersonová, Ph.D.,</strong> the leader of this project, is an assistant professor at the Faculty of Humanities, Charles University in Prague. Her research primarily focuses on the Regular Canons of St&nbsp;Augustin and their libraries in the Czech lands. For more detailed information about her academic and scientific activities, please visit her profile here: <a href="https://fhs.cuni.cz/FHSENG-955.html" target="_blank">https://fhs.cuni.cz/FHSENG-955.html</a></p></div> 


<div class="person_box">
<p><strong>Mgr. Michal Dragoun</strong>, is an expert in medieval codicology, palaeography and manuscript culture. In the project, he is describing and analysing manuscripts and incunabula preserved from various libraries.</p>
</div>

<div class="person_box">
<p><strong>Mgr. Stanislav Hlaváč</strong>, is a Ph.D. student of Medieval Latin Studies at the Faculty of Arts, Charles University. In the project, he is compiling bibliographies for the libraries included in the database.</p>
</div>

<div class="person_box">
<p><strong>Mgr. Michael Lužný</strong>, is a Ph.D. student of Medieval Latin Studies at the Faculty of Arts, Charles University. In the project, he is accountable for providing access to digital copies of manuscripts and incunabula.</p>
</div>


<div class="person_box">
<p><strong>Mgr. Jan Ctibor</strong>, is a Ph.D. student of Medieval Latin Studies at the Faculty of Arts, Charles University. In the project, he is responsible for developing the web interface of this database.</p>
</div>

<div class="person_box">
Other collaborators of the project:
<ul>
<li>Mgr. Kamil Boldan (National Library of the Czech Republic)</li>
<li>Mgr. Kateřina Voleková, Ph.D. (Institute of the Czech Language, Czech Academy of Sciences)</li>
<li>students of the Faculty of Humanities, Charles University</li>
</div>
</div>
