<html>
<head>
<meta charset="UTF-8"> 
<title>Monastic libraries ADMIN</title>
<link href="../css/main.css" rel="stylesheet">
<link href="../css/AjaxResponseInfo.css" rel="stylesheet">
</head>
<body>
    
<div id="main">
        <div style="max-height:33%;overflow:scroll">
                <?php echo $temp["files_list_box"]; ?>
        </div>
        <div><button name="btn_delete_all">Smaž vše</button></div>
        <form name="frm_load_file" enctype="multipart/form-data">
                <file-box name="fil_select_file" caption="Vyber soubor(y) k nahrání" multiple="true"></file-box>
                <button type="submit" name="btn_upload">Nahrát</button>
                <span><?php echo $temp["upload_notice"]?></span>
        </form>
        <div><button name="btn_process">Zpracuj nahraná data</button></div>
        <multi-page name="mlp" expose_shadow_population>
                <one-page caption="Výsledek zpracování" name="pg_tmp">
                        <?php echo $temp["tmp_data"] ?>
                </one-page>
                <one-page caption=" - převod -> " name="pg_move">
                        <button name="btn_copy">Zkopíruj data z dočasné do hlavní databáze</button>
                </one-page>
                <one-page caption="Aktuálně nahraná data" name="pg_real">
                        <?php echo $temp["real_data"] ?>
                </one-page>
        </multi-page>

</div>
<script type="module">            
    import {List_Box} from "../js/Controls/ListBox.js";
    import {Multi_Page} from "../js/Controls/MultiPage.js";
    import * as WebCtrl from "../js/Controls/functions.js";
    import {ServerRequest} from "../js/Controls/ServerRequest.js";
    class AdminPage
{
	constructor()
	{
            this.server=new ServerRequest();
            WebCtrl.populatePageObject({root:"main",flatten:true,obj:this});
            //server.AjaxResponseInfo=new Ajax_Response_Info();
            //server.basepath=location.pathname.match("(admin/.*)")[1];
            //server.basepath="http://localhost/monasticlibraries/admin/";
	}
	lst_loaded_files__onMouseEntersRow=(e)=>
	{
        if (this.lst_loaded_files.delete_button==null)
    		this.lst_loaded_files.delete_button=WebCtrl.createElement({tagName:"button",parentElement:e.detail.row.children[3],innerHTML:"x"});
		this.lst_loaded_files.delete_button.onclick=function(ev)
		{
			//server.delete_file(e.detail.row.children[0].textContent,()=>{location.reload();});
		};
	}
	lst_loaded_files__onMouseExitsRow=(e)=>
	{
		if (this.lst_loaded_files.delete_button!=null)
		{
			this.lst_loaded_files.delete_button.remove();
			this.lst_loaded_files.delete_button=null;
		}
		//this.lst_loaded_files.delete_button.onclick=function(ev){server.delete_file(e.detail.row.children[0].textContent,()=>{location.reload();});};
	}
	frm_load_file__submit=(e)=>
	{
            e.preventDefault();
            var data = new FormData();
            for (var i=0;i<this.fil_select_file[1].files.length;i++)
            {
                    data.append("files[]",this.fil_select_file[1].files[i]);
            }
            this.server.fetch("upload",{method:"POST",body:data});
		//server.upload_file(data,()=>{location.reload();});
	}
	btn_copy__onclick=(e)=>
	{
            if (confirm("Jsi si jist? Stávající ostrá data budou nahrazena a nepůjde je vrátit!")==true)
                this.server.fetch("tmp_to_def").then(
                    ()=>
                    {
                        location.reload();
                    }
                );
	}
	btn_delete_all__onclick=(e)=>
	{
            this.server.fetch("delete_all").then(
                    ()=>
                    {
                        location.reload();
                    }
                );
	}
	btn_process__onclick=(e)=>
	{
            this.server.fetch("process").then(
                    (success)=>
                    {
                        location.reload();
                    },
                    (fail)=>
                    {
                        location.reload();
                    }
                );
                
	}
}

var frm=new AdminPage();
</script>
</body>
</html>
